# AWS SDK
boto3==1.34.69
botocore>=1.34.69,<1.35.0

# Database
psycopg2-binary==2.9.9

# JWT handling
PyJWT==2.7.0
cryptography==41.0.1

# HTTP handling
requests==2.31.0

# Utilities
python-dotenv==1.0.1
pytest==8.1.1
pytest-cov==4.1.0
localstack-client==2.5
werkzeug==3.0.1

# Flask
flask==3.0.2
flask-cors==4.0.0 